<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("https://fontmeme.com/permalink/210302/6c2ecc10c2e43881815ab111070198bc.png"), root_path %>
          </div>
            <div id="clock_date"></div>
          <% if user_signed_in? %>
          <div class="nav__right">
            <%= link_to image_tag("https://fontmeme.com/permalink/210303/341d77f8ba6d72064aebdfd6f5fa778b.png",  class: :nav__btn), destroy_user_session_path,method: :delete %>
          </div>
          <% else %>
            <div class="nav__right">
              <%= link_to image_tag("https://fontmeme.com/permalink/210302/d11483c3821b467e8981eae49560a880.png",class: :nav__btn), new_user_session_path %>
              <%= link_to image_tag("https://fontmeme.com/permalink/210302/d2a21f0d0691cc097c8ff370cfd5f433.png", class: :nav__btn), new_user_registration_path %>
            </div>
          <% end %>
            <div class="neon">
              <p><a><% link_to 'ToDo',lists_path %></a></p>
              <p><a><%= link_to 'ToDo',lists_path %></a></p>
            </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © GOALS rights reserved.</p>
    </footer>
  </body>
</html>
